/* head */
header {
    background-image: url("../img/pattern.png");
    max-height: 180px;
    background-color: #4EA1FF;
}

/* .image-header{
    height: 100px;
} */

/* Body */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.booleaner{
    text-decoration: none;
    color: aqua;
}

.text-gray{
    color: grey;
    font-style: initial;
}

.image-tim{
    margin: 0;
}

ul{
    padding: 10px;
}

/* table */

.table-head{
    background-color:#1FAAE4;
}

.tr-odd{
    background-color:#B1E6F2 ;
}
.tr-even{
    background-color:##B1E6F2 ;
}